/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  background-image: linear-gradient(to bottom, #fafcff, #ffffff); 
  
}





.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* Estilo Geral */
.featurette {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featurette-heading {
  font-family: 'Georgia', serif;
  color: #333;
}

.featurette-img,
.featurette-image {
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.featurette-img:hover,
.featurette-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.action-buttons {
  margin-top: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
  background-color: #dbc98b;
  color: rgb(7, 7, 7);
}

.btn-primary:hover {
  background-color: #e9af63;
  transform: scale(1.05);
}

p.lead {
  margin-bottom: 1.5em;
  text-indent: 1em;
}

.container .p-4:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  z-index: 10; 
  position: relative; 
}
.list-unstyled a:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  z-index: 10;
  position: relative; 
}

.list-unstyled img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out; 
}
.nav a:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease-in-out; 
  color: #007bff; 

.container a {
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}


.container a:hover {
  font-size: 1.1em; 
  color: #0056b3; 
}
